body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    color: red;
    font-size: 30px;
}

.content{
    color: blue;
}

#aaa{
    color: yellow;
    font-size: 20px;
}

.btn{
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
}

.btn:hover {
  background-color: #682fd3;
  font-size: 24px;
}   

.reg{ 
  background-color: #006600;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
}

.reg:hover {
  background-color: #09090a;
  font-size: 24px;
  color: #eb10ca;
}   


/* ทำเมนูแนวนอน */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6a07d5;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #cbe905;
  color: black;
}

